.user-defined-table table,
.user-defined-table th,
.user-defined-table td {
  border-collapse: collapse;
  border: 1px solid #000;
}

.user-defined-table th:nth-child(odd),
.user-defined-table td:nth-child(odd) {
  background: #ccc;
}

.user-defined-table th:nth-child(even),
.user-defined-table td:nth-child(even) {
  background: #eee;
}

.user-defined-tables-sortable {
  cursor: pointer;
}

.user-defined-tables-alignright {
  text-align: right;
}

.user-defined-tables-sortable:after {
  content: '\2195';
}

.user-defined-tables-sortable-asc:after {
  content: "\2193";
}

.user-defined-tables-sortable-desc:after {
  content: "\2191";
}

.user-defined-table tfoot td {
  text-align: center;
}

.user-defined-tables-pager {
  font-weight: bold;
}

.user-defined-tables-pager span {
  color: #999;
}

.user-defined-tables-pager a:link,
.user-defined-tables-pager a:visited {
  color: #1785db;
}
